@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}


@keyframes scroll {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
}

.animate-scroll {
    display: flex;
    flex-direction: column;
    animation: scroll 10s linear infinite;
}
